.panel{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 99.9%;
}

.diskArea{
    padding-bottom: 3px;
    border-bottom: #c3c3c3;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.filesArea{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.notActive {
    overflow-y: scroll;
    -webkit-filter: grayscale(60%);
}